---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Salim Chemes - Software Engineer</h1>
			<p>
				Welcome to my website. I'm a software engineer with a strong passion for web development. Throughout my career, I’ve worked across different areas of the industry and enjoy sharing what I learn along the way.

				I have experience with a wide range of technologies, including JavaScript, TypeScript, Angular, Node.js, .NET, and more. I’m always looking for new challenges and opportunities to keep learning, so here you’ll find blog posts and talks about my experiences and the things I’ve discovered along the way.
			</p>
		</main>
		<Footer />
	</body>
</html>
