---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Salim Chemes - Software Engineer</h1>
			<p>
				Welcome to my website. I'm a software engineer with a passion for web development. I been working in the industry for over 10 years and I love to share my knowledge with others.
				I have experience with a wide range of technologies, including JavaScript, Typescript, Angular, Node.js, .Net and more. I'm always looking for new challenges and opportunities to learn so you will find some blog posts about my experiences and things I've learned.
			</p>
		</main>
		<Footer />
	</body>
</html>
